include ACKNOWLEDGEMENTS
include CODE_OF_CONDUCT.md
include LICENSE
include README.md
include requirements.txt
include requirements_dev.txt
include run_install_nvm.sh
include run_tests.sh
recursive-include diplomacy *
